@page "/blog"
<h1 style="text-align:center">- .NET Web Development Blog -</h1>
<hr />
<BlogpostTemplate>
 <Kop>&laquo;Blazor rules the world&raquo;</Kop>
 <Inhoud>Blazor is a Single Page Application development framework. The name Blazor
is a combination/mutation of the words Browser and Razor (the .NET HTML view
generating engine). The implication being that instead of having to execute Razor
views on the server in order to present HTML to the browser, Blazor is capable of
executing these views on the client.</Inhoud>
 <Footer>Blazor University - &copy; 2020</Footer>
</BlogpostTemplate>
<BlogpostTemplate>
 <Kop>ASP.NET Core MVC</Kop>
 <Inhoud>
 The ASP.NET Core MVC framework is a lightweight, open source, highly testable
presentation framework optimized for use with ASP.NET Core.<br />ASP.NET Core MVC
provides a patterns-based way to build dynamic websites that enables a clean
separation of concerns. It gives you full control over markup, supports TDD-friendly
development and uses the latest web standards.
 </Inhoud>
 <Footer>Microsoft - &copy; 2018</Footer>
</BlogpostTemplate>
<BlogpostTemplate>
 <Kop>Razor Pages</Kop>
 <Inhoud>ASP.NET Core Razor Pages is a page-focused framework for building dynamic,
data-driven web sites with clean separation of concerns. Based on the latest version
of ASP.NET from Microsoft - ASP.NET Core, Razor Pages supports cross platform
development and can be deployed to Windows, Unix and Mac operating systems.</Inhoud>
 <Footer>LearnRazorPages - &copy; 2020</Footer>
</BlogpostTemplate>
@code {
}